<header>
  <a class="title" href="{{ $.Site.Home.Permalink }}">{{ $.Site.Title }}</a>
  {{ if $.Site.Params.repoLink }}<a href="{{ $.Site.Params.repoLink }}" target="_blank" title="Source code for this site"><i class="icon-code" style="font-size:1rem;"></i>Source</a>{{ end }}
  <i id="dark-toggle" class="icon-moon"></i>
  <script>
    window.addEventListener("pageshow", function(event) {
        const useDarkMode = (localStorage.getItem("dark-mode") || window.matchMedia("(prefers-color-scheme: dark)").matches) === "true";
        if (useDarkMode) document.body.classList.add("dark-theme"); else document.body.classList.remove("dark-theme");
    });
    document.querySelector("#dark-toggle").addEventListener("click", function() {
        document.body.classList.toggle("dark-theme");
        localStorage.setItem("dark-mode", document.body.classList.contains("dark-theme"));
    });
  </script>
</header>