{{ define "main" }}
<script src="imagesloaded.pkgd.min.js"></script> <!-- From https://imagesloaded.desandro.com -->
<script src="masonry.pkgd.min.js"></script> <!-- From https://masonry.desandro.com -->

<div class="grid">
  <!-- List of all of the tags used on the site. -->
  <div class="post sticky">
    <div class="title"><span style="color:var(--color-text);"><i class="icon-tag"></i>All Tags</span></div>
    <div class="desc" style="font-size:smaller; display:flex; flex-flow: row wrap; justify-content: flex-start;">
      {{ range .Site.Taxonomies.tags }}
      <a class="tag space-around" href="{{ .Page.Permalink }}">{{ .Page.Title | humanize }}</a>
      {{ end }}
    </div>
  </div>

  {{ range (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  <div class="post">
    <div class="title" {{ if .Params.color }}style="background:{{ .Params.color }};--color-text-title:#fff;--color-text-link:#fff;"{{ end }}><a href="{{.Permalink }}">{{ .Title }}</a></div>
    {{ if .Params.featuredimage }}<div class="featured-media"><a href="{{.Permalink }}"><img src="/{{ .Params.featuredimage }}"></a></div>{{ end }}
    {{ if .Description }}<div class="desc">{{ .Description }}</div>{{ end }}
    <div class="meta"><i class="icon-calendar"></i><span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      {{- range .Params.tags }}<a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
    </div>
  </div>
  {{ end }}
</div>

<script>
  let grid = document.querySelector(".grid");
  let masonry = new Masonry( grid, { itemSelector: ".post", stamp: ".sticky", gutter: 20, fitWidth: true });
  imagesLoaded(grid).on( "progress", function() { masonry.layout(); }); // Defer layout until images loaded.
  window.addEventListener("resize", function () { masonry.layout(); }); // Otherwise only refreshes when resize stops.
</script>
{{ end }}