{{/*
    Usage: From within your page's content type: {{< fig src="/quincy-streetcar.jpg" link="https://www.google.com" width="30%" class="left" caption="A Quincy streetcar." >}}
    For class, should be either "left" (default), "center", or "right". Note that words won't wrap around centered figures.
*/}}
<figure{{ with .Get "class"}} class="{{.}}"{{ end }}{{ with .Get "width"}} style="width:{{.}};"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src='{{ .Get "src" }}'{{ with .Get "caption"}} alt="{{.}}"{{ end }}>
    {{ with .Get "link"}}</a>{{ end }}
    {{ with .Get "caption"}}<figcaption>{{.}}</figcaption>{{ end }}
</figure>