{{ define "main" }}
<div class="posts">
  {{ range .Pages }}
  <div class="post">
    <div class="title"><a href="{{.Permalink }}">{{ .Title }}</a></div>
    {{ if .Description }}<div class="desc">{{ .Description }}</div>{{ end }}
    <div class="meta"><span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      {{- range .Params.tags }}<a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}