{{ define "main" }}
<div class="content">
  <h1 class="page-title">{{title .Title}}</h1>
  <div class="page-meta"><i class="icon-calendar"></i><span class="date">Posted: {{ .Date.Format "Jan 2, 2006" }}</span>{{ if ne .Lastmod .Date }}<i class="icon-calendar-mod"></i><span class="date-mod">Modified: {{ .Lastmod.Format "Jan 2, 2006" }}</span>{{ end }}{{ range .Params.tags }}<a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}</div>
  {{ .Content }}
  <!-- Swapping the order of the pages below as by default it sorts backwards (previous is newer) from a navigation standpoint. -->
  <div>{{if .Next}}<a href="{{.Next.Permalink}}">&#8592; Previous</a>{{end}} {{if .Prev}}<a href="{{.Prev.Permalink}}" style="float:right;">Next &#8594;</a>{{end}}</div>
</div>
{{ end }}