/* PureCSS (https://purecss.io/) colors: blue: #1f8dd6, purple: #8058a5, green: #5eb95e, red: #dd514c, orange: #f37b1d, yellow: #fad232 */
* { margin:0; padding:0; box-sizing:border-box; }
:root {
    --color-bg-main: #f1f1f1; --color-bg-header: #1d1d1d; --color-bg-post: #fff;
    --color-bg-code: #f5f5f5; --color-bg-label: #bbbbbb; --color-text: #555; --color-text-inv: #ccc;
    --color-text-title: #2b3542; --color-text-meta: #999; --color-text-tag: #fff;
    --color-text-link: #3d7e9a; --color-text-hover: var(--color-text-link);
    --color-border: #00000033; --color-divider: #00000033;
    /* Code Highlighting */
    --c-err:#960050; --c-err-bkg:#1e0010; --c-high-bkg:#ffffcc; --c-delimit:#ee891f;
    --c-keyword:#07a; --c-name:#333; --c-literal:#905; --c-string:#690; --c-op:#9a6e3a; --c-comment:#708090;
}

body { font-family:'Roboto', sans-serif; background:var(--color-bg-main); color:var(--color-text); font-size:1rem; line-height:1.6; min-height:100vh; width:100vw; overflow-x:hidden; }
body.dark-theme {
    --color-bg-main:#111; --color-bg-post:#262626; --color-bg-code:#1e1f19; --color-bg-label:#666;
    --color-text:#ddd; --color-text-inv:#555;
    --color-text-link: #56c7e5;
    --color-border:#202020;
    /* Code Highlighting */
    --c-err:#960050; --c-err-bkg:#1e0010; --c-high-bkg:#ffffcc; --c-delimit:#ee891f;
    --c-keyword:#56c7e5; --c-name:#f1f1f1; --c-literal:#9775d5; --c-string:#d6c162; --c-op:#b72657; --c-comment:#827d66;
}

.content { margin:1em; padding:2em; background:var(--color-bg-post); border-radius:4px; }

a { color: var(--color-text-link); text-decoration: none; }
a:visited { color: var(--color-text-link); }
a:hover { color: var(--color-text-hover); text-decoration: underline; }
p, ul, ol { margin-bottom: 1.5em; word-wrap: break-word; }
ul, ol { margin-left: 1.5em; margin-bottom: 1.5em; }
p+ul, p+ol { margin-top: -1.5em; /* Needs to negate/match the margin-bottom of p. */}
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
li { margin-top: 0.2em; }
blockquote { margin: 1em 2em; }
figure, figure.left { float: left; display: flex; flex-flow: column; padding: 0.5em; }
figure.center { float: none; margin: 0 auto; }
figure.right { float: right; }
figcaption { text-align: center; font-style: italic; font-size: smaller; }
figure img { width: 100%; }
h1 { font-size: 1.4em; font-weight: bold; }
h2 { font-size: 1.3em; font-weight: bold; }
h3 { font-size: 1.2em; font-weight: bold; }
h4 { font-size: 1.1em; font-weight: bold; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 1em; font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; margin-bottom: 1.5em; }
th, td { padding: 0.5em; border-bottom: solid 1px var(--color-border); overflow: visible; }
th { font-weight: bold; background: var(--color-bg-header); color: var(--color-text-inv); }

header { background: var(--color-bg-header); box-shadow: 0 5px 5px #00000033; width: 100%; color: var(--color-text); padding: 1rem 0.5em; display: flex; flex-flow: row wrap; justify-content: flex-end; align-items: center; }
header a, header a:visited { margin-right: 2em; color: var(--color-text); font-size: 0.8em; letter-spacing: 0.2em; text-transform: uppercase; display: inline-flex; align-items: center;}
header a:hover { color: var(--color-text-link); }
header .title { flex: 9; font-family: 'Roboto Slab', serif; font-size: 110%; color: var(--color-text); letter-spacing: 0; text-transform: none; padding: 0 1em;}

.grid { width: 100vw; margin: 1em auto; }
.grid:after { content: ''; display: block; clear: both; }

.post { width: 350px; position: relative; background: var(--color-bg-post); color: var(--color-text); box-shadow: 0 5px 5px #00000033; border-radius: 4px; overflow: hidden; margin-bottom: 1.5rem; }
.post .title { padding: 0 1rem; }
.post .title a, .post .title span { display: inline-block; /* To break margin collapse */ margin: 0.5rem 0; font-size: 1.1em; font-weight: bold; color: var(--color-text-title); text-transform: uppercase; }
.post .title a:hover { color: var(--color-text-link); }
.featured-media { overflow: hidden; width: 100%; }
.featured-media img { margin: 0 auto; transition: all 0.3s ease-in-out; display: block; max-width: 100%; height: auto; }
.featured-media img:hover, .featured-media a:hover { transform: scale(1.1); }
.post .desc { padding: 1rem; }
.meta { padding: 0.75rem 1rem; color: var(--color-text-meta); font-weight: bold; font-size: 85%; }

.date, .date-mod { padding-right: 10px; }
.tag, .tag:visited { padding: 1px 6px; background: var(--color-bg-label); border-radius: 4px; color: var(--color-text-tag); }
.space-around { margin: 2px; }

/* From https://boxicons.com/ */
.icon-calendar { font-size:inherit; width: 1.2em; margin-right: 3px; position: relative; top: .2em;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M4.998 8H19V20H4.998z"/><path d="M2.999,6v2v12c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2V8V6c0-1.103-0.897-2-2-2h-2V2h-2v2h-6V2h-2v2h-2 C3.896,4,2.999,4.897,2.999,6z M19.001,20H4.999V8h14L19.001,20z" fill="%23999"/></svg>'); }
.icon-calendar-mod { font-size:inherit; width: 1.2em; margin-right: 3px; position: relative; top: .2em;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,4h-3V2h-2v2h-4V2H8v2H5C3.897,4,3,4.897,3,6v14c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2V6C21,4.897,20.103,4,19,4z M5,20V7h3h2h4h2h3V6l0.002,14H5z" fill="%23999"/><path transform="rotate(-135.016 15.414 10.598)" d="M14.142 9.628H16.686999999999998V11.567H14.142z" fill="%23999"/><path d="M8.005 16.201L8.005 18 9.804 18 14.78 13.03 12.981 11.231z" fill="%23999"/></svg>'); }
.icon-tag { font-size:inherit; width: 1.2em; margin-right: 5px; position: relative; top: .2em;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.586,2.586C12.211,2.211,11.702,2,11.172,2H4C2.896,2,2,2.896,2,4v7.172c0,0.53,0.211,1.039,0.586,1.414l8,8 c0.781,0.781,2.047,0.781,2.828,0l7.172-7.172c0.781-0.781,0.781-2.047,0-2.828L12.586,2.586z M7,9C5.896,9,5,8.104,5,7 s0.896-2,2-2s2,0.896,2,2S8.104,9,7,9z" fill="%23999"/></svg>'); }
.icon-code { font-size:inherit; width: 1.2em; margin-right: 5px;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.375 16.781l1.25-1.562L4.601 12l4.024-3.219-1.25-1.562-5 4C2.138 11.409 2 11.696 2 12s.138.591.375.781L7.375 16.781zM16.625 7.219l-1.25 1.562L19.399 12l-4.024 3.219 1.25 1.562 5-4C21.862 12.591 22 12.304 22 12s-.138-.591-.375-.781L16.625 7.219z" fill="%23999"/><path transform="rotate(102.527 12 12)" d="M2.78 11H21.219V13.001H2.78z" fill="%23999"/></svg>'); }
.icon-moon { font-size:inherit; width: 1.2em; margin-right: 5px;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.742,13.045c-0.677,0.18-1.376,0.271-2.077,0.271c-2.135,0-4.14-0.83-5.646-2.336c-2.008-2.008-2.799-4.967-2.064-7.723 c0.092-0.345-0.007-0.713-0.259-0.965C10.444,2.04,10.077,1.938,9.73,2.034C8.028,2.489,6.476,3.382,5.241,4.616 c-3.898,3.898-3.898,10.243,0,14.143c1.889,1.889,4.401,2.93,7.072,2.93c2.671,0,5.182-1.04,7.07-2.929 c1.236-1.237,2.13-2.791,2.583-4.491c0.092-0.345-0.008-0.713-0.26-0.965C21.454,13.051,21.085,12.951,20.742,13.045z M17.97,17.346c-1.511,1.511-3.52,2.343-5.656,2.343c-2.137,0-4.146-0.833-5.658-2.344c-3.118-3.119-3.118-8.195,0-11.314 c0.602-0.602,1.298-1.102,2.06-1.483c-0.222,2.885,0.814,5.772,2.89,7.848c2.068,2.069,4.927,3.12,7.848,2.891 C19.072,16.046,18.571,16.743,17.97,17.346z" fill="%23999"/></svg>'); }

.page-title { line-height: 1; padding: 0; font-size: 180%; border-bottom: 1px solid var(--color-divider); }
.page-meta { padding: 0; margin-top: 0.5em; margin-bottom: 2em; color: var(--color-text-meta); font-weight: bold; font-size: 85%; }

code { background: var(--color-bg-code); color:var(--c-string); padding: .2em .3em; border-radius: 4px; font-size: 85%; }
pre { background: var(--color-bg-code);  padding: 0.5em; margin-bottom: 1.5em; overflow: auto; }
pre code { background: var(--color-bg-code); }

/* Styling for code blocks via Chroma */
.highlight { margin-bottom:1.5em; }
pre.chroma { border-left:solid 1px var(--color-border); margin:0; }
/* Background */ .chroma { color:var(--color-text); background:var(--color-bg-code); }
/* Error */ .chroma .err { color:var(--c-err); background:var(--c-err-bkg); }
/* LineTableTD */ .chroma .lntd { vertical-align:top; padding:0; margin:0; border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0; padding:0; margin:0; border:0; width:auto; overflow:auto; display:block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background:var(--c-high-bkg); }
/* LineNumbersTable */ .chroma .lnt { margin-right:0.4em; padding:0 0.4em 0 0.4em; color:var(--color-text); }
/* LineNumbers */ .chroma .ln { margin-right:0.4em; padding:0 0.4em 0 0.4em; color:var(--color-text); }
/* Keyword, KeywordDeclaration */ .chroma .k, .chroma .kd, .chroma .kc, .chroma .kn, .chroma .kp, .chroma .kr, .chroma .kt { color:var(--c-keyword); }
/* Names */ .chroma .na, .chroma .nc, .chroma .no, .chroma .nd, .chroma .ne, .chroma .nf, .chroma .nx, .chroma .nt { color:var(--c-name); }
/* Literal */ .chroma .l, .chroma .ld, .chroma .ss, .chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo { color:var(--c-literal); }
/* LiteralString */ .chroma .s, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .dl, .chroma .sd, .chroma .s2, .chroma .se, .chroma .sh, .chroma .si, .chroma .sx, .chroma .sr, .chroma .s1 { color:var(--c-string); }
/* Operator */ .chroma .o, .chroma .ow { color:var(--c-op); }
/* Comment */ .chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs, .chroma .cpf, .chroma .gd, .chroma .ge, .chroma .gi, .chroma .gs, .chroma .gu { color:var(--c-comment); }
.chroma .p { color:var(--c-delimit); }